<div class="container">
<section>
    <div class="row">
        <div class="col-sm">
            <article>
                <h2>Tecnologia de Punta</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius culpa sint, corrupti natus ullam nam error atque iste aperiam labore et officia, repudiandae reprehenderit voluptates omnis quo alias est dolore.
                </p>
            </article>
        </div>
        <div class="col-sm">
            <article>
                <h2>Sistemas Operativos</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius culpa sint, corrupti natus ullam nam error atque iste aperiam labore et officia, repudiandae reprehenderit voluptates omnis quo alias est dolore.
                </p>
            </article>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <article>
                <h2>Instalacion de Software</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius culpa sint, corrupti natus ullam nam error atque iste aperiam labore et officia, repudiandae reprehenderit voluptates omnis quo alias est dolore.
                </p>
            </article>
        </div>
        <div class="col-sm">
            <article>
                <h2>Hardware</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius culpa sint, corrupti natus ullam nam error atque iste aperiam labore et officia, repudiandae reprehenderit voluptates omnis quo alias est dolore.
                </p>
            </article>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <article>
                <h2>Games</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius culpa sint, corrupti natus ullam nam error atque iste aperiam labore et officia, repudiandae reprehenderit voluptates omnis quo alias est dolore.
                </p>
            </article>
        </div>
        <div class="col-sm">
            <article>
                <h2>Tarjetas Graficas</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius culpa sint, corrupti natus ullam nam error atque iste aperiam labore et officia, repudiandae reprehenderit voluptates omnis quo alias est dolore.
                </p>
            </article>
        </div>
    </div>
</section>
</div>