<section>
    <article>
        <h2>Quieres poner te en contacto con nosotros?<br><br></h2>
        <p>
            
            Es facil solo llena el formulario de abajo con tus datos y te estaremos respondiendo
            lo  mas rapido posible
        </p>
    </article>
</section>


<form [formGroup]="modelForm" (ngSubmit)="onSubmit()">
    <h2>Ingresa tus datos</h2>
    <div>
        <label for="nombre">Nombre: </label>
        <input type="text" id="nombre" formControlName="nombre" placeholder="Ingresa tu nombre">
    </div>
    <br>
    <div>
        <label for="apellido">Apellido: </label>
        <input type="text" id="apellido" formControlName="apellido" placeholder="Ingresa tu apellido">
    </div>
    <br>
    <div>
        <label for="correo">Correo: </label>
        <input type="email" id="correo" formControlName="correo" placeholder="Ingresa tu correo">
    </div>
    <br>
    <div>
        <label for="mensaje">Mensaje: </label>
        <textarea id="mensaje" cols="30" rows="10" formControlName="mensaje" placeholder="Ingresa tu duda"></textarea>
    </div>
    <br>

    <div class="button">
        <button type="submit">Enviar</button>
    </div>
    

</form>